@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;1,200;1,500;1,600&display=swap");

*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tituloBank{
    font-family: "Megrim", cursive;
    color:#0f4;
    font-weight: 500;
}
.formulario{
    height: 350px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: .5rem;
    border: 1px solid #0f4;
}
.Acessarconta{
    font-family: "Megrim", cursive;
    color: #0f4;
    text-align: center;
    padding: 1rem;
}

.formParts{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.formParts > input{
    background-color: #111;
    padding: .25rem;
    border:solid 1px;
    border-top:none ;
    border-left: none;
    border-right: none;
    border-color:#0f4;
    width: 250px;
}
.formPartsbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.buttonSubmit{
    color: #fff;
    background-color: #111;
    border:solid 1px #111;
    font-family: "Megrim", cursive;
    height: 25px;
    width: 100px;
    transition: 1s;
}

.buttonSubmit:hover{
    border-radius: 1rem;
    color: #0f4;
    border:solid 1px #0f4;
    transition: 1s;
}